@charset "utf-8";

body{
    font-weight:bold;
    color: rgba(255, 0, 0, 0.559);
}

#cabeceraweb{
    background-color : #00F;
}


#navegacionPrincipal{
    background-color : #F00;
}

#barralateral{
    background-color : rgb(0, 255, 234);
    float:left;
    height: 1900px;
}

#contenidoprincipal{
    background-color : rgb(143, 26, 116);
    margin-left:200px;
    padding-left: 120px;
    padding-top: 15px;
}

#pieweb{
    background-color : rgb(198, 208, 3);
    clear:both;
    margin-top: 100px;
}

li{
    background-color : #FF0;
    display:inline;
}